*.iml
*.jks
/app/.idea/caches
/app/.idea/libraries
/app/.idea/modules.xml
/app/.idea/workspace.xml
/app/.idea/navEditor.xml
/app/.idea/assetWizardSettings.xml
/app/.gradle
/app/app/build
/app/app/release
/app/app/src/main/assets/libs
/app/app/src/main/assets/static/js/native-lib-implementations
/app/build
/app/captures
/app/local.properties
/app/.kotlin
/backup.sql
/htdocs/google*.html
/htdocs/secret/
/node_modules
/package-lock.json
