:root{
    --color1: #4b9c2e;
    --color1-transparent: #4b9c2e99;
    --color2: #0055b7;
    --background-color: #a9e0ef;
    --background-color-dark: #52c1e9;
    --background-color-light: #d4eff7;
}